
  #border {
    border-color: black;
    margin-left: 5px;
    background-color: grey;
    height: 1000px;
    width: 300px;
  }
  
* {
  font-family: 'Francois One', sans-serif;
  
  box-sizing: border-box;
}

form.citySearch input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 100%;
  background: #f1f1f1;
}

form.submit button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.submit button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
#resultDivCurrent {
width: auto;
  height: 650px;
   text-align: center;
background-color: honeydew;
}
.underline {
    width: 350px;
    height: available;
    height: 650px;
    float: left;
    background-color: rosybrown;
}
#backgroundCurrent {
background-color: lightseagreen;
}